## Local Obsidian settings
.obsidian/

## Python virtualenvs / caches
venv/
env/
__pycache__/
*.pyc

## Secrets
.env

## Build artifacts
dist/
build/

## Logs
*.log

## Test artifacts
.pytest_cache/
.coverage
htmlcov/

## Client
node_modules/

## ETL artifacts
/etl/app/parsers/chrome_profile/
