// Colors
$background: #f9fafb;
$secondary-background: #eceef2;
$white: #fff;
$black: #000;
$gray: #4a5565;
$accent: linear-gradient(to right, #155dfc, #9810fa);
$border: #ebe6e7;
$blue: #dbeafe;
$purple: #f3e8ff;
$green: #dcfce7;
$input-background: #f3f3f5;
$up-badge-background: #fef2f2;
$up-badge: #e7000b;
$down-badge-background: #f0fdf4;
$down-badge: #00a63e;
$darkblue: #155dfc;
$warning: #d48318;
