.container {
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	background-color: white;
	color: white;
	cursor: pointer;
	font-size: 20px;
	transition: all 0.2s ease;

	&:hover:not(:disabled) {
		background-color: darken(white, 10%);
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&[aria-disabled='true'] {
		opacity: 0.5;
		cursor: not-allowed;
		pointer-events: none;
	}
}
