.card {
	padding: 24px;
	background: var(--white);
	border: 1px solid var(--border);
	border-radius: 14px;

	display: flex;
	flex-direction: column;
}

.click {
	cursor: pointer;
}

@media (max-width: 700px) {
	.card {
		padding: 16px;
	}
}
