.container {
	width: 1200px;
	margin: 0 auto;
	padding: 32px;

	.content {
		margin-bottom: 24px;

		a {
			font-size: 14px;
		}

		.block {
			display: flex;
			justify-content: space-between;
			gap: 10px;
			margin-bottom: 8px;

			h2 {
				font-size: 30px;
			}
		}

		.badges {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			margin-bottom: 12px;
		}
	}

	.topCard {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		div {
			.title {
				font-size: 14px;
				color: $gray;
				margin-bottom: 4px;
			}

			.currentPrice {
				&_value {
					font-size: 30px;
					font-weight: bold;
				}
			}

			.updatePriceDate {
				&_value {
					font-size: 18px;
				}
			}
		}
	}

	.bottomCard {
		margin-top: 20px;

		.pricesBlock {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 24px;
			padding-top: 24px;
			border-top: 1px solid $border;

			.title {
				font-size: 14px;
				color: $gray;
				margin-bottom: 4px;
			}

			.minPrice {
				.price {
					font-size: 18px;
					color: $down-badge;
					font-weight: 600;
				}
			}
			.maxPrice {
				.price {
					font-size: 18px;
					color: $up-badge;
					font-weight: 600;
				}
			}
			.avgPrice {
				.price {
					font-size: 18px;
					color: $darkblue;
					font-weight: 600;
				}
			}
		}
	}

	.chart {
		width: 100%;
		height: 300px;

		& * {
			outline: none !important;
		}
	}
}

@media (max-width: 1250px) {
	.container {
		max-width: 100vw;
		padding: 25px;
		width: fit-content;
	}
}

@media (max-width: 700px) {
	.container {
		padding: 15px;

		.content {
			margin-bottom: 20px;

			a {
				font-size: 14px;
			}

			.block {
				gap: 5px;

				h2 {
					font-size: 20px;
				}
			}

			.badges {
				margin-bottom: 10px;
			}
		}

		.topCard {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
				'current-price last-update'
				'change-7 change-30';
			gap: 20px;

			.currentPrice {
				grid-area: current-price;
			}

			.updatePriceDate {
				grid-area: last-update;
			}

			.updatePrice {
				grid-area: change-7;
			}

			.updatePrice30 {
				grid-area: change-30;
			}

			div {
				.title {
					font-size: 14px;
				}

				.currentPrice {
					&_value {
						font-size: 20px;
					}
				}

				.updatePriceDate {
					&_value {
						font-size: 14px;
					}
				}
			}
		}

		.bottomCard {
			.pricesBlock {
				.title {
					font-size: 14px;
				}

				.minPrice {
					.price {
						font-size: 16px;
					}
				}
				.maxPrice {
					.price {
						font-size: 16px;
					}
				}
				.avgPrice {
					.price {
						font-size: 16px;
					}
				}
			}
		}
	}
}
