.container {
	width: 1200px;
	margin: 0 auto;
	padding: 32px;

	.content {
		margin-bottom: 24px;

		a {
			font-size: 14px;
		}

		.block {
			margin-bottom: 8px;

			h2 {
				font-size: 30px;
			}
		}

		.badges {
			display: flex;
			gap: 8px;
			margin-bottom: 12px;
		}
	}

	.topCard {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		div {
			.title {
				font-size: 14px;
				color: $gray;
				margin-bottom: 4px;
			}

			.currentPrice {
				&_value {
					font-size: 30px;
					font-weight: bold;
				}
			}

			.updatePriceDate {
				&_value {
					font-size: 18px;
				}
			}
		}
	}

	.bottomCard {
		.pricesBlock {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 24px;
			padding-top: 24px;
			border-top: 1px solid $border;

			.title {
				font-size: 14px;
				color: $gray;
				margin-bottom: 4px;
			}

			.minPrice {
				.price {
					font-size: 18px;
					color: $down-badge;
					font-weight: 600;
				}
			}
			.maxPrice {
				.price {
					font-size: 18px;
					color: $up-badge;
					font-weight: 600;
				}
			}
			.avgPrice {
				.price {
					font-size: 18px;
					color: $blue;
					font-weight: 600;
				}
			}
		}
	}
}
