.container {
	width: 1200px;
	margin: 0 auto;
	padding: 32px;

	h2 {
		font-size: 30px;
		margin-bottom: 4px;
	}

	.block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;

		p {
			color: $gray;
		}

		button {
			justify-content: center;

			p {
				color: $white;
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 1250px) {
	.container {
		max-width: 100vw;
		padding: 25px;
		width: fit-content;
	}
}

@media (max-width: 700px) {
	.container {
		padding: 15px;

		h2 {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
}
