.container {
	width: 1200px;
	margin: 0 auto;
	padding: 32px;

	h2 {
		font-size: 30px;
		margin-bottom: 4px;
	}

	.block {
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;

		p {
			color: $gray;
		}

		button {
			justify-content: center;

			p {
				color: $white;
				margin-bottom: 0;
			}
		}
	}
}
